         0  0.00E+00         0   CONSTANTCV    #IBCFCB,HDRY,IWDFLG,OPTIONS
 1 1
 0 0
 1.0 1.0
 0 0
 1 1
 1.00E+00         1         0   #WETFCT,IWETIT,IHDWET
CONSTANT   1.000000E+00  HY layer   1
CONSTANT   1.000000E+00  VKA layer   1
CONSTANT  -2.000000E-01 (10F13.0)    8  WETDRY layer   1
CONSTANT   1.000000E+00  HY layer   2
CONSTANT   1.000000E+00  VKA layer   2
CONSTANT  -2.000000E-01 (10F13.0)    8  WETDRY layer   2
