# LPF file for parent grid.  Garcia Heterogeneity
  77    -1.e30   0               ;ITEM 1 ILPFCB, HDRY, NPLPF
   0                            ;ITEM 2 LAYTYP
   0                            ;ITEM 3 LAYAVG
  1.                            ;ITEM 4 CHANI
   0                            ;ITEM 5 LAYVKA
   0                            ;ITEM 6 LAYWET
OPEN/CLOSE hk.ref   1.0 (10G12.4)   12            HY layer  1
CONSTANT 1.0                    ;ITEM 12 VKA

